div {
  display: inline-block;
  margin-right: 8px;
}

input {
  height: 40px;
  width: 250px;
  font-size: 1.2em;
}

button {
  padding-top: 15px;
  padding-bottom: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: aqua;
}

label {
  font-size: 25px;
}